.textAnimation a {
    color: #f3007e;
    text-decoration: none;
  }
  
  .textAnimation a:hover,
  .textAnimation a:focus,
  .textAnimation a:active {
    text-decoration: underline;
  }
  
  .textAnimation {
    white-space: break-spaces;
    color: #57229e;
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;
  }
